.cards {
    display: flex;
    justify-content: center;
}

.startinghand {
    display: flex;
    justify-content: center;
}

.extracard {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    width: 100px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    align-items: center
}

.mao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p {
    margin: auto;
}
